html, body{

	height: 100%;
}

body{

	position: relative;
}

body::after {
  content: "";
  background-color: #e6f0ff;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.d-flex button{

    margin: 1.5em 0.5em;
    padding: 0.3em 1.4em;
    margin-top: ;
    margin-right:%;
    margin-left:;

}



.d-flex table{
    margin: 1em 10em;
}

table .btnedit{
    color: lightsalmon;
    cursor: pointer;
}

.success{
    background-color: lightgreen;
    padding: 1em;
}

.error{
    background-color: tomato;
    padding: 1em;
}

